*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*:focus{
    outline: none; /* FJERN OUTLINE FRA INPUT FIELDS ETC, NÅR DE BRUGES*/
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAVBAR - LOGGED IN */
.header{
    background: #2D728f;
}

.links_user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem 1rem;
}

.links_user h1{
    margin: 0;
}

.links_user a{
    display: block;
    text-decoration: none;
    color: #f49e4c;
}
.menu_container {
    position: relative;
    width: 40px;
    font-size: 20px;
}
.menu{
    width: 100%;
    display: flex;
    cursor: pointer;
}
.menu_links{
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0;
    flex-direction: column;
    background: #2D728f;
    border-radius: 5px;
    padding: 0rem 1rem 0rem 1.5rem;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.352);
}
.menu_links a{
    padding: 0.5rem;
    color: #f0f0f0;
    padding: 0.8rem 0rem;
    font-weight: 500;
}
.menu_links a:hover{
    transition: 0.5s;
    color: #f49e4c;
}

/* NAVBAR - NOT LOGGED IN */
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 1rem;
}
.links a{
    text-decoration: none;
    color: #f49e4c;
    font-size: 1em;
    font-weight: 500;
}
.sublinks a{
    color: #d6d6d6;
    font-size: 1.2em;
    padding: 0.3rem;
}

/* INDEX / FORSIDE */
.index_cta{
    position: relative;
    text-align: center;
}
.image_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e7e7e7;
    backdrop-filter: blur(2px);
}
.index_cta img{
    width: 100%;
    filter: blur(1.5px);
}
.index_content{
    text-align: center;
    padding: 3rem 1rem 2rem 1rem;
}
.index_content button{
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 20px;
    background: #f49e4c;
}
.index_content a{
    text-decoration: none;
    color: #e7e7e7;
    font-size: 1.2em;
    font-weight: 500;
}

/* LOGIN */
.login{
    padding: 0rem 0.8rem 3rem 0.8rem;
}
.login h1{
    text-align: center;
    padding: 2rem 0rem;
    color: #f49e4c;
}
.loginform{
    padding: 1rem;
    background: #d6d6d6;
    border-radius: 5px;
}
.new_user{
    padding: 3rem 0rem 1rem 0rem;
    text-align: center;
    font-size: 1.2em;
}
.divider{
    margin-top: 3rem;
}
.new_user a{
    text-decoration: underline;
    color: #2D728f;
    font-weight: bold;
}
.form_fields{
    padding-top: 1rem;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.form_field{
    font-size: 1.1em;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.submit_btn{
    margin: 0 auto;
    padding: 1rem 1.8rem;
    border: none;
    border-radius: 5px;
    background: #2D728f;
    font-size: 1.2em;
    font-weight: bold;
    color: #d6d6d6;
    display: block;
}

/* SIGNUP */
.signup{
    padding: 0rem 0.8rem 3rem 0.8rem;
}
.error_messages{
    color: red;
    text-align: center;
    font-size: 1.1em;
}
.signup h1{
    text-align: center;
    padding: 2rem 0rem;
    color: #f49e4c;
}
.signupform{
    padding: 1rem;
    background: #d6d6d6;
    border-radius: 5px;
}
.signup_fields{
    padding-top: 1rem;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.signup_field{
    font-size: 1.1em;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}


/* DASHBOARD */
.dashboard_message{
    padding: 3rem 0.8rem 3rem 0.8rem;
}
.dashboard_message h1{
    font-size: 1.5em;
}

/* REWARDS - DASHBOARD */
.rewards_component{
    padding: 0rem 0.8rem 3rem 0.8rem;
}
.rewards_component h1{
    font-size: 1.5em;
    padding-bottom: 0.5rem;
}
.rewards_content{
    border-radius: 1rem;
    padding: 2rem 0rem;
    background: #d6d6d6;
    display: flex;
    justify-content: space-evenly;
}

/* POSTS - DASHBOARD */
.posts_component{
    padding: 0rem 0.8rem 3rem 0.8rem;
}
.post_container{
    background: #d6d6d6;
    border-radius: 1rem;
    overflow-y: scroll;
    max-height: 220px;
}
.post_container p {
    padding: 0.8rem;
}
.post_container::-webkit-scrollbar{
    background: #e7e7e7;
    width: 10px;
    border-radius: 5px;
}
.post_container::-webkit-scrollbar-thumb{
    background: #2D728f;
    border-radius: 5px;
    min-height: 10px;
}
.posts_component h1{
    font-size: 1.5em;
    padding-bottom: 0.5rem;
}
.user_image{
    width: 80px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.user_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.user_info{
    display: flex;
    align-items: center;
    padding: 1rem 0rem 1rem 0.8rem
}
.user_details p{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.5rem;
}
.post_content{
    padding: 0.5rem 1rem;
}


/* CHALLENGES - DASHBOARD */
.challenges_component{
    padding:  0rem 1rem 3rem 0.8rem;
}
.challenges_component h1{
    font-size: 1.5em;
    padding-bottom: 0.5rem;
}
.challenge_container{
    background: #d6d6d6;
    border-radius: 1rem;
    padding: 0.3rem 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
    max-height: 300px;
}
.challenge_container p{
    font-size: 1.2em;
    padding: 1rem;
    text-align: center;
}
.challenge_container::-webkit-scrollbar{
    background: #e7e7e7;
    width: 10px;
    border-radius: 5px;
}
.challenge_container::-webkit-scrollbar-thumb{
    background: #2D728f;
    border-radius: 5px;
    min-height: 10px;
}

/* FOLLOWS - DASHBOARD */
.follows{
    padding:  0rem 1rem 2rem 0.8rem;
}
.follows h3{
    font-size: 1.5em;
    padding-bottom: 0.5rem;
}
.follows_container{
    overflow-y: scroll;
    overflow-x: hidden;
    background: #d6d6d6;
    border-radius: 1rem;
    margin: 0 auto;
    width: 100%;
    max-height: 300px;
}
.follows_list{
    height: auto;
    width: 100%;
    max-height: 300px;
    padding: 1rem 0rem;
}
.follows p{
    padding-top: 0.7em;
    text-align: center;
    font-weight: 500;
}
.follows_container::-webkit-scrollbar{
    background: #e7e7e7;
    width: 10px;
    border-radius: 5px;
}
.follows_container::-webkit-scrollbar-thumb{
    background: #2D728f;
    border-radius: 5px;
    min-height: 10px;
}

/* CHALLENGES */
.challenges{
    padding: 3rem 1rem 5rem 0.8rem;
}
.search{
    width: 100%;
    margin-bottom: 10px;
}
.search i{
    position: absolute;
    padding: 1.4rem;
}
.input_field{
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1.1rem;
    border: none;
    border: solid 1px #9e9e9e;
    border-radius: 8px;
}
.challenges_content{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0rem;
    background: #d6d6d6;
    border-radius: 1rem;
    height: 100vh;
    width: 100%;
    gap: 1rem;
}
.challenges h1{
    font-size: 1.5em;
    padding: 1rem;
}
.challenge{
    padding: 2rem;
    margin: 1rem 0rem;
    width: 80%;
    height: fit-content;
    background: #2D728f;
    border-radius: 5px;
}
.challenge h3{
    padding: 0.3rem;
    color: #d6d6d6;
    text-align: center;
}
.challenge p{
    padding: 0.3rem;
    font-size: 1.2em;
    color: #d6d6d6;
}
.join_challenge{
    margin: 0 auto;
    width: 90%;
    padding: 0.7rem;
    border: solid 2px #28657f;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    background: #e7e7e7;
}

/* FEED */
.fællesskab{
    padding: 1.5rem 1rem 2rem 0.8rem;
}
.f_categories{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    padding: 1rem 0rem 2rem 0rem;
}
.f_categories a{
    text-decoration: none;
    color: #e7e7e7;
    font-size: 1.1em;
    font-weight: 500;
    background: #2D728f;
    border-radius: 23px;
    padding: 0.8em 1.5em;
}
.f_categories a:hover{
    transition: 0.5s;
    color: #f49e4c;
}
.f_categories a:active{
    color: #f49e4c;
}
#post_form{
    border: none;
    border: solid 1px #9e9e9e;
    border-radius: 5px;
    margin: 2rem 0rem 2rem 0rem;
    position: relative;
}
.post_form_field{
    border: none;
    width: 95%;
    padding: 2rem 0rem 2rem 1rem;
}

.post_actions{
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    background: #d6d6d6;
}
.post_actions button{
    background: #2D728f;
    padding: 0.2rem;
    border: none;
    outline: none;
    border: solid 1px #28657f;
    border-radius: 5px;
    color: #e7e7e7;
}
.submit_post_btn{
    background: #2D728f;
    padding: 0.2rem;
    border: none;
    outline: none;
    border: solid 1px #28657f;
    border-radius: 5px;
    color: #e7e7e7;
}
.post{
    background: #d6d6d6;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 1rem;
}
.post_date{
    padding-bottom: 1rem;
}
.post_image{
    display: block;
    margin: auto;
    padding: 0.8rem 0rem;
    width: 100%;
}
.delete_post_btn{
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #9e9e9e;
}
.delete_post_btn:hover{
    transition: 0.3s;
    background: #2D728f;
    color: #d6d6d6;
}


/* PEOPLE */
.people{
    padding: 1.5rem 1rem 2rem 0.8rem;
    text-align: center;
}
.user{
    display: inline-block;
    width: 90%;
    border: solid 1px;
    border-radius: 2%;
    overflow: hidden;
    margin: 0 10px 1.5rem 0;
    padding-bottom: 1rem;
}
.profiles img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.profiles p{
    text-align: center;
    font-size: 1.2em;
    padding: 1rem;
}
.profiles button{
    display: block;
    margin: 0 auto;
    padding: 0.5rem 2.5rem;
    background: #2D728f;
    color: #e7e7e7;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}
.profiles button:hover{
    color: #f49e4c;
}
.message{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px;
    border-radius: 5px;
    background: #2D728f;
    color: #e7e7e7;
    font-weight: 500;
}

/* FOOTER */
.footer{
    width: 100%;
    height: 10rem;
    margin-top: auto;
    background: #2D728f;
    display: flex;
    justify-content: space-evenly;
}
.footer h1{
    color: #f49e4c;
    padding: 2rem 0.8rem;
}
.footer p{
    padding: 2.8rem 0.8rem;
}


/* FOR BIGGER DEVICES */
@media only screen and (min-width: 700px) {
    .index_cta{
        padding: 1rem;
    }
    .index_cta img{
        width: 50%;
    }
    .index_content{
        padding: 1rem 0rem 3rem 0rem;
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }

    /* LOGIN */
    .login{
        margin: 0 auto;
        width: 50%;
    }
    .form_fields{
        padding-top: 2rem;
    }
    .form_field{
        margin: 0 auto;
        display: block;
        margin-bottom: 2rem;
    }

    /* SIGNUP */
    .signup{
        margin: 0 auto;
        width: 50%;
    }
    .signup_fields{
        padding-top: 2rem;
    }
    .signup_field{
        margin: 0 auto;
        display: block;
        margin-bottom: 2rem;
    }

    /* DASHBOARD */
    .rewards_component{
        width: 40%;
    }
    .main_content{
        display: flex;
        width: 100%;
    }
    .posts_component{
        width: 30%;
    }
    .challenges_component{
        width: 30%;
    }
    .challenge_container{
        max-height: 210px;
    }
    .follows_container{
        max-height: 225px;
        padding: 0rem 2rem;
    }

    /* CHALLENGES */
    .challenges{
        text-align: center;
    }
    .challenges_content{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
    }
    .search{
        width: 50%;
        margin: 0 auto;
        padding: 1rem 0rem;
    }   
    .join_challenge{
        width: 50%;
    }

    /* FEED */
    #post_form{
        width: 50%;
        margin: 0 auto;
    }
    #posts_content{
        width: 50%;
        padding: 3rem 0rem;
        margin: 0 auto;
    }
    .post_image{
        width: 70%;
    }

    /* PEOPLE */
    .people{
        width: 60%;
        margin: 0 auto;
    }
    .user{
        border-radius: 5px;
        box-sizing: border-box;
        overflow: hidden;

    }

    /* FOOTER */
    .footer{
        display: block;
        height: fit-content;
    }
}