{% extends "base.html" %}

{% block title %}BikeMate{% endblock %} <!--Title-->

{% block content %} <!--Custom content goes inside these blocks-->

<div class="dashboard_message">
    {% if session.email %}
        <h1>Velkommen tilbage {{session.name}}</h1>
        <div class="user_profile">
            <i class="fa-solid fa-user fa-xl"></i>
        </div>
    {% endif %}
</div>

<div class="users_fitness">
    <h1>Din daglige aktivitet</h1>
        {% if users_fitness %}
            {% for user_fitness in users_fitness %}
            <div class="fitness_content">
                <div class="date_time">
                    <p>{{ user_fitness.date | datetimeformat }}</p>
                </div>
                <div class="progress_data">
                    <div class="progress_field">
                        <h3>{{ user_fitness.distance}}</h3>
                        <p>km</p>
                    </div>
                    <div class="progress_field">
                        <h3>{{ user_fitness.calories_burned}}</h3>
                        <p>Kalorier</p>
                </div>
            </div>
        </div>
            {% endfor %}
        {% else %}
            <p>Ingen aktivitet målt endnu</p>
        {% endif %}
</div>

<div class="rewards_component">
    <h1>Belønninger</h1>
    <div class="rewards_content">
        {% if rewards %}
            {% for reward in rewards %}
                <div class="reward">
                    {% if users_rewards and reward.title in users_rewards %}
                        <div class="users_rewards">
                            <h3>{{ reward.title }} <i class="fa-solid fa-medal" style="color: #2d728f;"></i></h3>
                        </div>
                    {% else %}
                        <div class="unearned_rewards">
                            <h3>{{ reward.title }}</h3>
                        </div>
                    {% endif %}
                </div> <!-- Moved the closing div here -->
            {% endfor %}
        {% else %}
            <p>Ingen belønninger tilgængelige</p>
        {% endif %}
    </div>
</div>

<section class="main_content">
    <div class="posts_component">
        <h1>Seneste opslag</h1>
        <div class="post_container" hx-get="/dashboard/posts">
            {% if user_posts %}
                {% for user_post in user_posts %}
                <div class="post">
                    <div class="user_profile_post">
                        <i class="fa-solid fa-user fa-xl"></i>
                        <p>{{ session.name}}</p>
                    </div>
                    <p class="post_date">{{ user_post.created }}</p>
                    <p class="post_content">{{ user_post.content }}</p>
                    {% if user_post.image_path %}
                        <img src="/{{ user_post.image_path }}" alt="post image" class="post_image">
                    {% endif %}
                    <button class="delete_post_btn" hx-delete="/dashboard/{{ user_post.id }}" 
                        hx-target=".post"
                        hx-confirm="Er du sikker på at du vil slette opslaget?">
                    Slet opslag</button>
                </div>
                    <hr>
                {% endfor %}
            {% else %}
                <p>Du har ingen opslag</p>
            {% endif %}
        </div>
    </div>
    
    <div class="challenges_component">
        <h1>Dine udfordringer</h1>
        <div class="challenge_container">
            {% if challenges %}
                {% for challenge in challenges %}
                    <div class="challenge">
                        <h3>{{ challenge.name }}</h3>
                            <p>Oprettet: <i class="fa-solid fa-clock"></i> {{ challenge.created }}</p>
                            <p>Slutter {{ challenge.end_date }}</p>
                            <p>Emne: {{ challenge.topic }}</p>
                            <p>Deltagere: <i class="fa-solid fa-user-group"></i> {{ challenge.participants_count}}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>Du har ingen udfordringer</p>
            {% endif %}
        </div>
    </div>

    <div class="follows">
        <h1>Personer du følger</h1>
        <div class="follows_container">
            {% if follows %}
                {% for user in follows %}
                    <div class="follows_list">
                        <div class="follows_profile">
                            <i class="fa-solid fa-user fa-xl"></i>
                            <p class="person">{{ user.name }}</p>
                        </div>
                        <form 
                            hx-delete="/dashboard/unfollow/{{ user.id }}" 
                            hx-confirm="Er du sikker på at du vil fjerne {{ user.name }}"
                            hx-target=".follows_list">
                            <button class="unfollow_person">
                                Fjern
                            </button>
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <p>Du følger ikke nogen</p>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}