{% extends "base.html" %}

{% block title %}BikeMate{% endblock %} <!--Title-->

{% block content %} <!--Custom content goes inside these blocks-->

<div class="dashboard_message">
    {% if session %}
        <h1>Velkommen tilbage {{session.name}}</h1>
    {% endif %}
</div>

<div class="rewards"> <!--Later use db for this-->
    <h1>Dine belønninger</h1>
    <div class="content">
        <div>Test</div>
        <div>Test</div>
        <div>Test</div>
    </div>
</div>

<div class="posts">
    <h1>Seneste opslag</h1>
    <div class="background">
        <div class="user_info">
            <div class="user_image">
                <img src="/static/images/user_image.jpg" alt="user">
            </div>
            <div class="user_details">
                <p>{{session.name}}</p>
                <p>Dato</p> <!--Later use db for this-->
            </div>
        </div>
        <div class="post_content"> <!--Later use db for this-->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, excepturi!</p>
        </div>
    </div>
</div>

{% endblock %}