{% extends "base.html" %}

{% block title %}BikeMate{% endblock %} <!--Title-->

{% block content %} <!--Custom content goes inside these blocks-->

<div class="dashboard_message">
    {% if session.email %}
        <h1>Velkommen tilbage {{session.name}}</h1>
    {% endif %}
</div>

<div class="rewards_component"> <!--Later use db for this-->
    <h1>Dine belønninger</h1>
    <div class="rewards_content">
        {% if rewards %}
        <div class="reward">Belønning</div>
        {% else %}
        <p>{{ no_rewards_found }}</p>
        {% endif %}
    </div>
</div>
<section class="main_content">
<div class="posts_component">
    <h1>Seneste opslag</h1>
    <div class="post_container">
        <div class="user_info">
            <div class="user_image">
                <img src="/static/images/user_image.jpg" alt="user">
            </div>
            <div class="user_details">
                <p>{{session.name}}</p>
                <p>Dato</p> <!--Later use db for this-->
            </div>
        </div>
        <div class="post_content"> <!--Later use db for this-->
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                A quae veritatis ad, voluptate beatae debitis harum numquam 
                recusandae aut. Porro perspiciatis expedita aspernatur, 
                doloribus incidunt voluptatibus illo necessitatibus commodi 
                magni nisi ut temporibus corrupti consectetur libero molestiae 
                qui vel sed.</p>
        </div>
    </div>
</div>
<div class="challenges_component">
    <h1>Dine udfordringer</h1>
    <div class="challenge_container">
        <p>Challenge</p>
        <p>Challenge</p>
        <p>Challenge</p>
    </div>
</div>
</section>

{% endblock %}