{% extends "base.html" %}

{% block title %}Fællesskab{% endblock %} <!--Title-->

{% block content %} <!--Custom content goes inside these blocks-->

<section class="fællesskab">
        <div class="f_categories">
            <a href="{{url_for('feed')}}" tabindex="1">Feed</a>
            <a href="#" tabindex="2">Grupper</a>
            <a href="{{url_for('people')}}" tabindex="3">Personer</a>
        </div>
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input class="input_field" type="search" placeholder="Søg...">
        </div>
</section>

{% endblock %}