{% extends "base.html" %}

{% block title %}Fællesskab{% endblock %} <!--Title-->

{% block content %} <!--Custom content goes inside these blocks-->

<section class="fællesskab">
        <div class="f_categories">
            <a href="{{url_for('feed')}}" hx-get="/posts" hx-target=".custom_content">Feed</a>
            <a href="#" hx-get="/groups" hx-target=".custom_content">Grupper</a>
            <a href="{{url_for('people')}}" hx-get="/people" hx-target=".custom_content">Personer</a>
        </div>
        <div class="custom_content">

        </div>
</section>

{% endblock %}