<div class="people">
    <div class="profiles">
        <div class="user" x-data="{open: false }">
            {% for user in users %}
                {% if user.id != session['user_id'] %}
                    <p>{{user.name}}</p>
                    <form action="{{url_for('befriend_users', friends_id=user.id) }}" method="POST">
                        <button type="submit" x-on:click="open = ! open">Tilføj bruger</button>
                    </form>
                    <div class="message" x-show="open" @click.outside="open = false">
                        <p>Anmodning afsendt</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
