<form id="post_form" hx-post="/posts" hx-trigger="submit" hx-target="#posts_content">
    {{ form.hidden_tag() }}
    {{ form.content(class_="post_form_field", placeholder="Hvad vil du dele?...")}}
    <div class="post_actions">
        <button>Vedhæft billede</button>
        {{ form.submit(class_="submit_post_btn") }}
    </div>
</form>

<div id="posts_content">
    {% if posts_data %}
        {% for post in posts_data %}
        <!--See the posts-->
            <div class="post">
                <p>{{post.name}}</p>
                <p class="post_date">{{ post.created}}</p>
                <p>{{ post.content}}</p>
        <!--Edit the posts-->
                {% if post.users_id == session.user_id %}
                    <button class="delete_post_btn" hx-delete="/posts/{{ post.id }}" 
                        hx-target="#posts_content"
                        hx-confirm="Er du sikker på at du vil slette opslaget?">
                    Slet opslag</button>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endif %}
</div>