<form id="post_form" hx-post="/posts" hx-trigger="submit" hx-target="#posts_content">
    {{ form.hidden_tag() }}
    {{ form.content(class_="post_form_field", placeholder="Hvad vil du dele?...")}}
    <div class="post_actions">
        <button>Vedhæft billede</button>
        {{ form.submit(class_="submit_post_btn") }}
    </div>
</form>

<div id="posts_content" hx-get="/posts">
    {% if posts_data %}
        {% for post in posts_data %}
            <div class="post">
                <p>{{post.name}}</p>
                <p class="post_date">{{ post.created}}</p>
                <p>{{ post.content}}</p>
            </div>
        {% endfor %}
    {% else %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <p>{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endwith %}
    {% endif %}
</div>