{% extends "base.html" %}

{% block title %}Opret en bruger{% endblock %} <!--Title-->

{% block content %} <!--Custom content goes inside these blocks-->

<div class="signup">
    <h1>Opret en bruger</h1>
</div>

<div class="signupform">
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <p><strong>{{ message }}</strong></p>
                {% endif %}
            {% endfor %}
        {% endwith %}
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!--csrf_tokens for hvert inputfield-->
        {{ form.name }}
        {{ form.email }}
        {{ form.password }}
        {{ form.submit }}
    </form>

{% endblock %}